<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet-mapping>
        <servlet-name>AnimalServlet</servlet-name>
        <url-pattern>/animal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnimalServlet</servlet-name>
        <servlet-class>servlets.AnimalServlet</servlet-class>
    </servlet>
</web-app>
